<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Update Category</h1>
                </div>

            </div>
            <div class="col">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Update category's details</h6>
                    </div>

                    <div class="card-body">
                        <form [formGroup]="updateCategoryForm" (ngSubmit)="updateCategory()">
                            <div class="form-group">
                                <label for="name" id="name">Name : </label>
                                <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid' : name?.touched && name?.invalid, 'is-valid' : name?.touched && !name?.invalid}">
                                <div *ngIf="name?.touched && name?.invalid">
                                    <small *ngIf="name?.errors?.required" class="text-danger">*Category name is required<br></small>
                                    <small *ngIf="name?.errors?.minlength" class="text-danger">*Category name must contain 2 characters at least<br></small>
                                </div>
                                <button class="btn btn-sm btn-warning mt-3" [disabled]="updateCategoryForm.invalid">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>